@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  cursor: none;
} */
html {
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.page{
  width: 99vw;
  min-height: 100vh;
  height: auto;  
  
}


body{
  background-color: rgb(24,24,24);
}
.bg-dark{
  background-color: rgb(24,24,24);
}

.displayFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPage{
  /* background: url(./Assets/codePic.png) no-repeat center center ; */
  background: url(./Assets/codePic.png)  ;
  background-position: right 200px  top 250px;
  background-repeat: no-repeat;
  background-size: 75%;
  
  background-color: rgb(24 24 24 / 75%);
    /* background-blend-mode: lighten; */
    
  
}