@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  cursor: none;
} */
html {
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
}

.page{
  width: 99vw;
  min-height: 100vh;
  height: auto;  
  
}

.displayFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
